{
  "x-generator": "NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Sportgearhub API",
    "description": "Sportgearhub public, provider console, and internal API surface.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.sportgearhub.ru"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsHealthGetHealthEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsHealthHealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/offers/{offerId}": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsOffersGetMarketplaceOfferByIdEndpoint",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsOffersMarketplaceMarketplaceOfferDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/offers": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsOffersGetMarketplaceOffersEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EbashITSportgearhubApiModelsOffersMarketplaceMarketplaceOfferSummaryResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/storefronts/{providerSlug}/offers/{offerId}": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsOffersGetStorefrontOfferByIdEndpoint",
        "parameters": [
          {
            "name": "providerSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsOffersStorefrontStorefrontOfferDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/storefronts/{providerSlug}/offers": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsOffersGetStorefrontOffersEndpoint",
        "parameters": [
          {
            "name": "providerSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EbashITSportgearhubApiModelsOffersStorefrontStorefrontOfferSummaryResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/checkout/prevalidate": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsCheckoutPostCheckoutPrevalidateEndpoint",
        "requestBody": {
          "x-name": "CheckoutPrevalidateRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsCheckoutCheckoutPrevalidateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsCheckoutCheckoutPrevalidateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/provider-onboarding/legal-identity/ru/lookup": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsPublicProviderOnboardingGetRuProviderLegalIdentityLookupEndpoint",
        "parameters": [
          {
            "name": "taxNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branchNumber",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfileProviderLegalIdentityLookupResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider-onboarding/options": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsPublicProviderOnboardingProviderOnboardingOptionsEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfileProviderOnboardingOptionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider-onboarding/current": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsPublicProviderOnboardingProviderOnboardingStateEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfileProviderOnboardingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsPublicProviderOnboardingStartProviderOnboardingEndpoint",
        "requestBody": {
          "x-name": "StartProviderOnboardingRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfileStartProviderOnboardingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfileProviderOnboardingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider-onboarding/current/submit": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsPublicProviderOnboardingSubmitProviderOnboardingEndpoint",
        "requestBody": {
          "x-name": "SubmitProviderOnboardingRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfileSubmitProviderOnboardingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfileProviderOnboardingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider-onboarding/current/profile": {
      "patch": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsPublicProviderOnboardingUpdateProviderOnboardingProfileEndpoint",
        "requestBody": {
          "x-name": "PatchProviderProfileRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfilePatchProviderProfileRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfileProviderOnboardingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/catalog/cities": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsPublicCatalogGetCitiesEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EbashITSportgearhubApiModelsCatalogCityOptionResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bookings/{bookingId}": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsBookingsGetBookingByIdEndpoint",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsBookingsBookingDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/bookings": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsBookingsGetBookingsEndpoint",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EbashITSportgearhubApiModelsBookingsBookingSummaryResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsBookingsPostCreateBookingEndpoint",
        "requestBody": {
          "x-name": "CreateBookingRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsCheckoutCreateBookingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsCheckoutCreateBookingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/bookings/{bookingId}/cancel": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsBookingsPostCancelBookingEndpoint",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PostCancelBookingRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsBookingsPostCancelBookingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsCheckoutCancelBookingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/provider-memberships": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthGetCurrentProviderMembershipsEndpoint1",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsAuthCurrentProviderMembershipsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/auth/provider-memberships": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthGetCurrentProviderMembershipsEndpoint2",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsAuthCurrentProviderMembershipsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthGetCurrentUserEndpoint1",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsAuthGetCurrentUserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthGetCurrentUserEndpoint2",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsAuthGetCurrentUserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/signout": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthSignOutEndpoint1",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/auth/signout": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthSignOutEndpoint2",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/connect/authorize": {
      "get": {
        "tags": [
          "Connect"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthOidcAuthorizeEndpoint",
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/connect/token": {
      "post": {
        "tags": [
          "Connect"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthOidcTokenEndpoint",
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/connect/userinfo": {
      "get": {
        "tags": [
          "Connect"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthOidcUserInfoEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsAuthOidcUserInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/oauth/{provider}/callback": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthOAuthOAuthCallbackEndpoint1",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsAuthOAuthOAuthCallbackResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/oauth/{provider}/callback": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthOAuthOAuthCallbackEndpoint2",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsAuthOAuthOAuthCallbackResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/oauth/{provider}/start": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthOAuthOAuthStartEndpoint1",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnUrl",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/auth/oauth/{provider}/start": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthOAuthOAuthStartEndpoint2",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnUrl",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/provider-invitations/accept": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalAcceptProviderInvitationEndpoint1",
        "requestBody": {
          "x-name": "AcceptProviderInvitationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalAcceptProviderInvitationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalAuthUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/provider-invitations/accept": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalAcceptProviderInvitationEndpoint2",
        "requestBody": {
          "x-name": "AcceptProviderInvitationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalAcceptProviderInvitationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalAuthUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/password/forgot": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalForgotPasswordEndpoint1",
        "requestBody": {
          "x-name": "ForgotPasswordRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalForgotPasswordRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalLocalAuthCommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password/forgot": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalForgotPasswordEndpoint2",
        "requestBody": {
          "x-name": "ForgotPasswordRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalForgotPasswordRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalLocalAuthCommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalLoginEndpoint1",
        "requestBody": {
          "x-name": "LoginRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalLoginRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalAuthUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalLoginEndpoint2",
        "requestBody": {
          "x-name": "LoginRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalLoginRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalAuthUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalRegisterEndpoint1",
        "requestBody": {
          "x-name": "RegisterRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalRegisterRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalAuthUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalRegisterEndpoint2",
        "requestBody": {
          "x-name": "RegisterRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalRegisterRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalAuthUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/email/verification": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalResendVerificationEmailEndpoint1",
        "requestBody": {
          "x-name": "ResendVerificationEmailRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalResendVerificationEmailRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalLocalAuthCommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/email/verification": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalResendVerificationEmailEndpoint2",
        "requestBody": {
          "x-name": "ResendVerificationEmailRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalResendVerificationEmailRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalLocalAuthCommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/password/reset": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalResetPasswordEndpoint1",
        "requestBody": {
          "x-name": "ResetPasswordRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalResetPasswordRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalLocalAuthCommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/password/reset": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalResetPasswordEndpoint2",
        "requestBody": {
          "x-name": "ResetPasswordRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalResetPasswordRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalLocalAuthCommandResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/email/verify": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalVerifyEmailEndpoint1",
        "requestBody": {
          "x-name": "VerifyEmailRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalVerifyEmailRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalAuthUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/email/verify": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsAuthLocalVerifyEmailEndpoint2",
        "requestBody": {
          "x-name": "VerifyEmailRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalVerifyEmailRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsAuthLocalAuthUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/provider/offers/{offerId}/routability": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderRoutabilityGetProviderOfferRoutabilityEndpoint",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderRoutabilityProviderOfferRoutabilityResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/offers/routability": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderRoutabilityGetProviderOfferRoutabilityListEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderRoutabilityProviderOfferRoutabilityResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/routability-impact": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderRoutabilityGetProviderResourceRoutabilityImpactEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderRoutabilityProviderResourceRoutabilityImpactResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/availability-calendar": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetAvailabilityCalendarEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesAvailabilityAvailabilityCalendarResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPutAvailabilityCalendarEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PutAvailabilityCalendarRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPutAvailabilityCalendarRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesAvailabilityAvailabilityCalendarResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/availability-diagnostics": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetAvailabilityDiagnosticsEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesAvailabilityAvailabilityDiagnosticsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/availability-profile": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetAvailabilityProfileEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesAvailabilityAvailabilityProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPutAvailabilityProfileEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PutAvailabilityProfileRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPutAvailabilityProfileRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesAvailabilityAvailabilityProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/policy-diagnostics": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetPolicyDiagnosticsEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPolicyEffectivePolicyDiagnosticsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/pricing-diagnostics": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetPricingDiagnosticsEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPricingPricingDiagnosticsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/pricing-policy": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetPricingPolicyEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPricingPricingPolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPutPricingPolicyEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PutPricingPolicyRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPutPricingPolicyRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPricingPricingPolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetProviderResourceByIdEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesProviderResourceDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPatchProviderResourceEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PatchProviderResourceRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPatchProviderResourceRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesProviderResourceDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetProviderResourcesEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesProviderResourceSummaryResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPostProviderResourceEndpoint",
        "requestBody": {
          "x-name": "CreateProviderResourceRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesCreateProviderResourceRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesProviderResourceDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/variants/{variantId}": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetResourceVariantByIdEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesVariantsResourceVariantResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPatchResourceVariantEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PatchResourceVariantRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPatchResourceVariantRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesVariantsResourceVariantResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/variants": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetResourceVariantsEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesVariantsResourceVariantResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPostResourceVariantEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PostResourceVariantRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPostResourceVariantRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesVariantsResourceVariantResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/variants/{variantId}/allocation": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetVariantAllocationEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesVariantsVariantAllocationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPutVariantAllocationEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PutVariantAllocationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPutVariantAllocationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesVariantsVariantAllocationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/variant-diagnostics": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetVariantDiagnosticsEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesVariantsVariantDiagnosticsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/archive": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPostArchiveProviderResourceEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PostArchiveProviderResourceRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPostArchiveProviderResourceRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesProviderResourceDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/variants/{variantId}/archive": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPostArchiveResourceVariantEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PostArchiveResourceVariantRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPostArchiveResourceVariantRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesVariantsResourceVariantResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/units": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetProviderResourceUnitsEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesInventoryProviderResourceUnitResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPostProviderResourceUnitEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PostProviderResourceUnitRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPostProviderResourceUnitRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesInventoryProviderResourceUnitResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/inventory-summary": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetProviderResourceInventorySummaryEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesInventoryProviderResourceInventorySummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/units/{unitId}": {
      "patch": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPatchProviderResourceUnitEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "unitId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PatchProviderResourceUnitRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPatchProviderResourceUnitRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesInventoryProviderResourceUnitResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/units/{unitId}/archive": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPostArchiveProviderResourceUnitEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "unitId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PostArchiveProviderResourceUnitRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPostArchiveProviderResourceUnitRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesInventoryProviderResourceUnitResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/slots": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesGetResourceSlotsEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesSchedulingResourceSlotResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPostResourceSlotEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PostResourceSlotRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPostResourceSlotRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesSchedulingResourceSlotResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/slots/{slotId}": {
      "patch": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPatchResourceSlotEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "slotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PatchResourceSlotRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPatchResourceSlotRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesSchedulingResourceSlotResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/slots/{slotId}/close": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderResourcesPostCloseResourceSlotEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          },
          {
            "name": "slotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PostCloseResourceSlotRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderResourcesPostCloseResourceSlotRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesSchedulingResourceSlotResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/dashboard": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderProfileGetProviderDashboardEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfileProviderDashboardResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/operating-state": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderProfileGetProviderOperatingStateEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfileProviderOperatingStateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/profile": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderProfileGetProviderProfileEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfileProviderProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderProfilePatchProviderProfileEndpoint",
        "requestBody": {
          "x-name": "PatchProviderProfileRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfilePatchProviderProfileRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderProfileProviderProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/pricing/quote-preview": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderPricingPostProviderPricingQuotePreviewEndpoint",
        "requestBody": {
          "x-name": "PricingQuotePreviewRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPricingPricingQuotePreviewRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPricingPricingQuotePreviewResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/policy-profile": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderPolicyGetProviderPolicyProfileEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPolicyPolicyProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderPolicyPutProviderPolicyProfileEndpoint",
        "requestBody": {
          "x-name": "UpsertProviderPolicyRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPolicyUpsertProviderPolicyRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPolicyPolicyProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/resources/{resourceId}/policy": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderPolicyGetResourcePolicyEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPolicyPolicyOverrideResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderPolicyPutResourcePolicyEndpoint",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PutResourcePolicyRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderPolicyPutResourcePolicyRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPolicyPolicyOverrideResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/policy/effective-preview": {
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderPolicyPostEffectivePolicyPreviewEndpoint",
        "requestBody": {
          "x-name": "PostEffectivePolicyPreviewRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderPolicyPostEffectivePolicyPreviewRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPolicyEffectivePolicyDiagnosticsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/offers/{offerId}": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderOffersGetProviderOfferByIdEndpoint",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsOffersProviderProviderOfferDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderOffersPatchProviderOfferEndpoint",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PatchProviderOfferRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderOffersPatchProviderOfferRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsOffersProviderProviderOfferDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/offers/{offerId}/policy": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderOffersGetProviderOfferPolicyEndpoint",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPolicyPolicyOverrideResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderOffersPutProviderOfferPolicyEndpoint",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PutProviderOfferPolicyRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderOffersPutProviderOfferPolicyRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPolicyPolicyOverrideResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/offers/{offerId}/pricing-policy": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderOffersGetProviderOfferPricingPolicyEndpoint",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPricingPricingPolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderOffersPutProviderOfferPricingPolicyEndpoint",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "requestBody": {
          "x-name": "PutProviderOfferPricingPolicyRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiEndpointsProviderOffersPutProviderOfferPricingPolicyRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsProviderResourcesPricingPricingPolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/offers": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderOffersGetProviderOffersEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EbashITSportgearhubApiModelsOffersProviderProviderOfferSummaryResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderOffersPostProviderOfferEndpoint",
        "requestBody": {
          "x-name": "CreateProviderOfferRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EbashITSportgearhubApiModelsOffersProviderCreateProviderOfferRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EbashITSportgearhubApiModelsOffersProviderProviderOfferDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/v1/provider/offers/{offerId}/variant-exposure": {
      "get": {
        "tags": [
          "Api"
        ],
        "operationId": "EbashITSportgearhubApiEndpointsProviderOffersGetProviderOfferVariantExposureEndpoint",
        "parameters": [
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
[...]
